USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 10/24/2021 9:45:52 AM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_DATA', FILENAME = N'D:\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_LOG', FILENAME = N'D:\QLSV.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 10/24/2021 9:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TenDN] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Quyen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMSV]    Script Date: 10/24/2021 9:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMSV](
	[MSSV] [varchar](50) NOT NULL,
	[MAMH] [varchar](50) NOT NULL,
	[DIEMKTLAN1] [float] NULL,
	[DIEMKTLAN2] [float] NULL,
	[DIEMTHI] [float] NULL,
	[DIEMTONGKET] [float] NULL,
 CONSTRAINT [PK_DIEMSV] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/24/2021 9:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](50) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/24/2021 9:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MAKHOA] [varchar](50) NOT NULL,
	[MALOP] [varchar](50) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[SISO] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/24/2021 9:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](50) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[TCLT] [int] NULL,
	[TCTH] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/24/2021 9:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [varchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[MALOP] [varchar](50) NOT NULL,
	[KHOAHOC] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [HoTen], [GioiTinh], [Phone], [Email], [Quyen]) VALUES (N'admin', N'123', NULL, NULL, NULL, NULL, N'admin')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [HoTen], [GioiTinh], [Phone], [Email], [Quyen]) VALUES (N'chuan', N'123', N'Nguyễn Văn Chuẩn', N'Nữ', N'', N'chuan@gmail.com', N'member')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [HoTen], [GioiTinh], [Phone], [Email], [Quyen]) VALUES (N'huynh', N'123', N'Phù Nhựt Huỳnh', N'Nam', NULL, N'huynh@gmail.com', N'member')
GO
INSERT [dbo].[DIEMSV] ([MSSV], [MAMH], [DIEMKTLAN1], [DIEMKTLAN2], [DIEMTHI], [DIEMTONGKET]) VALUES (N'1911065792', N'CMP101', 0, 10, 10, 7.5)
INSERT [dbo].[DIEMSV] ([MSSV], [MAMH], [DIEMKTLAN1], [DIEMKTLAN2], [DIEMTHI], [DIEMTONGKET]) VALUES (N'1911065792', N'CMP103', 0, 10, 10, 7.5)
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'KDQT', N'Kinh doanh quốc tế')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'KTD', N'Kỹ thuật điện')
GO
INSERT [dbo].[LOP] ([MAKHOA], [MALOP], [TENLOP], [SISO]) VALUES (N'KTD', N'18DDTC2', N'', 43)
INSERT [dbo].[LOP] ([MAKHOA], [MALOP], [TENLOP], [SISO]) VALUES (N'CNTT', N'19DTHD3', N'', 70)
INSERT [dbo].[LOP] ([MAKHOA], [MALOP], [TENLOP], [SISO]) VALUES (N'CNTT', N'19DTHD4', N'', 32)
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH]) VALUES (N'CMP100', N'Ky thuat lap trinh', 3, 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH]) VALUES (N'CMP101', N'Thuc hanh Ky thuat lap trinh', 0, 1)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH]) VALUES (N'CMP103', N'C#', NULL, NULL)
GO
INSERT [dbo].[SINHVIEN] ([MSSV], [HOTEN], [NGAYSINH], [GIOITINH], [MALOP], [KHOAHOC], [DIACHI]) VALUES (N'1911065792', N'Phù Nhựt Huỳnh', CAST(N'2001-01-21' AS Date), N'Nam', N'19DTHD4', 19, N'Cà Mau')
INSERT [dbo].[SINHVIEN] ([MSSV], [HOTEN], [NGAYSINH], [GIOITINH], [MALOP], [KHOAHOC], [DIACHI]) VALUES (N'1911065793', N'Nguyễn Thị Chuẩn', CAST(N'2001-12-24' AS Date), N'Nữ', N'21DQTE1', NULL, N'Thiên Hạ Thái Bình')
INSERT [dbo].[SINHVIEN] ([MSSV], [HOTEN], [NGAYSINH], [GIOITINH], [MALOP], [KHOAHOC], [DIACHI]) VALUES (N'1911065794', N'Dương Quốc An', CAST(N'2021-10-22' AS Date), N'Nam', N'18DDTC2', NULL, N'')
GO
ALTER TABLE [dbo].[DIEMSV] ADD  CONSTRAINT [DEF_DIEMSV_DIEM]  DEFAULT (NULL) FOR [DIEMTHI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DEF_SINHVIEN_PHAI]  DEFAULT ((1)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [FK_DIEMSV_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [FK_DIEMSV_MONHOC]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [FK_DIEMSV_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [FK_DIEMSV_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTONGKET] CHECK  (([DIEMTONGKET]>=(0) AND [DIEMTONGKET]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_DIEMTONGKET]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_KTL1] CHECK  (([DIEMKTLAN1]>=(0) AND [DIEMKTLAN1]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_KTL1]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_KTL2] CHECK  (([DIEMKTLAN2]>=(0) AND [DIEMKTLAN2]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_KTL2]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_THI] CHECK  (([DIEMTHI]>=(0) AND [DIEMTHI]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_THI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [CHK_LOP_SISO] CHECK  (([SISO]>(0)))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [CHK_LOP_SISO]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_TCLT] CHECK  (([TCLT]>=(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_TCLT]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_TCTH] CHECK  (([TCTH]>=(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_TCTH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
USE [master]
GO
