USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 10/21/2021 8:17:45 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_DATA', FILENAME = N'D:\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_LOG', FILENAME = N'D:\QLSV.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TenDN] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Quyen] [varchar](50) NULL,
 CONSTRAINT [PK_tblLOGIN] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC,
	[MatKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMSV]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMSV](
	[MSSV] [nchar](15) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[DIEMKTLAN1] [float] NULL,
	[DIEMKTLAN2] [float] NULL,
	[DIEMTHI] [float] NOT NULL,
	[DIEMTONGKET] [float] NOT NULL,
 CONSTRAINT [PK_DIEMSV] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [nvarchar](10) NOT NULL,
	[TenGV] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](20) NULL,
	[PhanLoaiGV] [nvarchar](20) NULL,
	[Anh] [bit] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MAKHOA] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[SISO] [int] NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[TCLT] [int] NOT NULL,
	[TCTH] [int] NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/21/2021 8:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [nchar](15) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[KHOAHOC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [HoTen], [GioiTinh], [Phone], [Email], [Quyen]) VALUES (N'admin', N'admin', NULL, NULL, NULL, NULL, N'admin')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [HoTen], [GioiTinh], [Phone], [Email], [Quyen]) VALUES (N'huynh', N'123', N'Phù Nhựt Huỳnh', N'Nam', NULL, NULL, N'member')
GO
ALTER TABLE [dbo].[DIEMSV] ADD  CONSTRAINT [DEF_DIEMSV_DIEM]  DEFAULT (NULL) FOR [DIEMTHI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DEF_SINHVIEN_PHAI]  DEFAULT ((1)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [FK_DIEMSV_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [FK_DIEMSV_MONHOC]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [FK_DIEMSV_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [FK_DIEMSV_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTONGKET] CHECK  (([DIEMTONGKET]>=(0) AND [DIEMTONGKET]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_DIEMTONGKET]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_KTL1] CHECK  (([DIEMKTLAN1]>=(0) AND [DIEMKTLAN1]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_KTL1]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_KTL2] CHECK  (([DIEMKTLAN2]>=(0) AND [DIEMKTLAN2]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_KTL2]
GO
ALTER TABLE [dbo].[DIEMSV]  WITH CHECK ADD  CONSTRAINT [CK_THI] CHECK  (([DIEMTHI]>=(0) AND [DIEMTHI]<=(10)))
GO
ALTER TABLE [dbo].[DIEMSV] CHECK CONSTRAINT [CK_THI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [CHK_LOP_SISO] CHECK  (([SISO]>(0)))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [CHK_LOP_SISO]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_TCLT] CHECK  (([TCLT]>=(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_TCLT]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_TCTH] CHECK  (([TCTH]>=(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_TCTH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
USE [master]
GO
